.food-container {
  position: relative;
}

.food-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 198px;
  height: 198px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%,-50%);
  padding: 25px;
  background: linear-gradient(0deg, rgba(245, 71, 72, 0) 57.72%, #FDC55E 112.46%);
}

.food-card-image {
  object-fit: cover; /* Đảm bảo hình ảnh bao phủ toàn bộ khu vực hình tròn */
  border: solid 10px var(--color-light);
  border-radius: 50%;
}

.food-price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  border-radius: 50%;
  border: solid 4px var(--color-light);
  position: absolute;
  height: 50px;
  width: 50px;
  bottom: 10px;
  right: 36px;
  z-index: 3;
  font-size: var(--font-size-normal);
  color: var(--color-light);
}

.food-content-container {
  width: 310px;
  height: 368px;
  background: var(--color-gradient-strong);
  border-radius: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.food-rating {
  display: flex;
  align-items: center;
  margin-top: 9px;
  padding-left: 112px;
}

.star-rating {
  font-weight: 600;
  font-size: var(--font-size-normal);
}

.rating {
  margin-right: 5px;
  margin-left: 15px;
}

.food-rating div:nth-child(2) {
  position: absolute;
  z-index: -1;
  left: 95px;
}

.food-rating div:nth-child(3) {
  position: absolute;
  z-index: -2;
  left: 75px;
}

.food-name {
  color: var(--color-primary);
  font-size: var(--font-size-large);
  font-weight: bolder;
  text-align: center;
  margin: 30px 0 21px 0px;
}

.food-detail {
  padding: 0px 34px 50px 33px;
  text-align: center;
  line-height: 1.3;
}

.card-order-button {
  bottom: 0;
  transform: translateY(-50%);
  text-align: center;
}

.food-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 158px;
}
