button{
    font-family: 'Sofia Pro Regular';
    border-radius: 100px;
    width: 162px;
    height: 45px;
    font-size: 18px;
    background-color: #F54748;
    color: #FFFF;
    border: #F54748;
    padding: 10px;
}