.button {
  background-color: var(--color-primary);
  border: none;
  border-radius: 100px;
  padding: 4px 25px;
  color: var(--color-light);
  font-family: var(--font-family-normal);
  font-size: 18px;
}
