.food-container {
  position: relative;
}

.food-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-gradient-warm);
  width: 254px;
  height: 254px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%,-50%);
}

.food-card-image {
  border: 10px solid var(--color-light);
  border-radius: 50%;
}

.food-price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 5px var(--color-light);
  position: absolute;
  bottom: 14px;
  right: 14px;
  z-index: 3;
  font-size: 18px;
  color: var(--color-light);
}

.food-content-container {
  width: 310px;
  height: 370px;
  background: var(--color-gradient-strong);
  border-radius: 20px;
  padding-inline: 33px;
  padding-bottom: 57px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.food-rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-rating {
  font-weight: 600;
}

.rating {
  margin-right: 5px;
  margin-left: 10px;
}

.food-rating div:nth-child(2) {
  position: absolute;
  z-index: 2;
  left: 115px;
}

.food-rating div:nth-child(3) {
  position: absolute;
  z-index: 3;
  left: 100px;
}

.food-name {
  color: var(--color-primary);
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}

.food-detail {
  padding: 20px;
  text-align: center;
}

.card-order-button {
  bottom: 0;
  transform: translateY(-50%);
  text-align: center;
}

.food-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}
