.food-container {
  position: relative;
}

.food-preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-gradient-warm);
  width: 254px;
  height: 254px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
}

.food-card-image {
  border: 10px solid var(--color-light);
  border-radius: 50%;
}

.food-price {
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 0 auto;
  background-color: var(--color-accent);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid var(--color-light);
  position: absolute;
  bottom: 14px;
  right: 14px;
  z-index: 3;
  font-size: 18px;
  color: var(--color-light);
}

.food-content-container {
  width: 310px;
  height: 370px;
  background: var(--color-gradient-strong);
  border-radius: 20px;
  padding: 0 33px 57px;
  display: flex;
  align-items: flex-end;
}

.food-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.star-rating {
  font-weight: 600;
}

.food-rating div:nth-child(2) {
  position: absolute;
  z-index: 2;
  left: 115px;
}

.food-rating div:nth-child(3) {
  position: absolute;
  z-index: 3;
  left: 100px;
}

.food-name {
  color: var(--color-primary);
  font-size: 24px;
  font-weight: bolder;
}

.food-detail {
  padding: 20px;
}

.card-order-button {
  position: relative;
  bottom: 0;
  transform: translateY(-50%);
}

.rating {
  margin: 0 5px 0 10px;
}
