.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-company-container {
    flex: 2;
}

.navbar-container {
      flex: 3;
      display: flex;
      gap: 50px;
}

.navbar-container a {
      font-family: 'Sofia Pro Regular';
      font-size: 18px;
      color: var(--color-dark);
      text-decoration: none;
}

.header-button-wrapper {
    flex: 1;
}
