.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar-container {
    display: flex;
    gap: 50px;
    margin-left: 261px;
}

.navbar-container p {
    font-family: 'Sofia Pro Regular';
    font-size: 18px;
}
