.introduction-container {
  display: flex;
  justify-content: space-between;
  gap: 300px;
}

.introduction-content-container {
  padding-top: 50px;
}

.people-trust-icon {
  display: flex;
  text-align: center;
  box-shadow: drop;
  border-radius: 100px;
  padding: 5px;
  width: 139px;
  background-color: var(--color-icon-wrapper);
}

.people-trust-icon > p {
  font-family: var(--font-family-primary);
  font-size: 14px;
  margin: 0px;
}

.people-trust-icon img {
  margin-right: 5px;
}

.header-introduction {
  display: flex;
}

.header-introduction p {
  font-family: var(--font-family-dark);
  font-size: 58px;
  margin: 0px;
}

.header-decor {
  margin-left: 194px;
}

.para-introduction p {
  font-family: var(--font-family-primary);
  font-size: 24px;
}
