.introduction-container {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

.introduction-content-container {
  padding-top: 50px;
}

.people-trust-icon {
  display: flex;
  align-items: center;
  border-radius: 100px;
  width: fit-content;
  gap: 5px;
  padding: 5px;
  background-color: var(--color-icon-wrapper);
}

.people-trust-icon > p {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-ex-small);
}

.header-introduction {
  margin-top: 50px;
}

.header-introduction {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-header);
  font-weight: 900;
}

.primary-color {
  color: var(--color-primary);
}

.accent-color {
  color: var(--color-accent);
}

.header-decor {
  margin-left: 194px;
}

.para-introduction {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-large);
  padding: 33px 0;
  font-weight: 400;
}

.search-container {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-normal);
  height: 54px;
  width: 371px;
  border-radius: 100px;
  padding-inline: 50px;
  position: absolute;
}

.search-box-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 54px;
}

.search-black-icon {
  padding: 15px;
  position: absolute;
}

.search-white-icon {
  background-color: var(--color-accent);
  border-radius: 50%;
  padding: 9px;
  left: 420px;
  position: absolute;
}

.download-watch-video-wrapper {
  display: flex;
  align-items: center;
  padding-top: 25px;
}

.download-watch-video-wrapper > img {
  padding: 14px;
  border-radius: 50%;
  margin: 25px;
  box-shadow: 2px 2px 10px var(--color-icon-wrapper) ;
}

.download-watch-video-wrapper > p {
  font-family: var(--font-family-search-box);
  font-size: var(--font-size-normal);
  color: var(--color-neutral);
}
