.menu-heading {
  font-size: var(--font-size-sub-header);
  font-weight: var(--font-weight-heading);
  line-height: var(--line-height-normal);
  text-align: center;
  padding-inline: 300px;
  margin: 200px 0 50px 0;
}

.menu-tag {
  display: flex;
  justify-content: space-around;
  padding-inline: 150px;
}

.list-food-card-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-between;
  margin-top: 50px;
}
