.service-container {
  display: flex;
  align-items: center;
  padding-top: 200px;
}

.service-container > img {
  margin-right: 40px;
}

.service-header {
  font-size: 48px;
  font-weight: 600;
}

.service-description {
  font-size: 18px;
  color: var(--color-dark);
}


.service-list-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 24px);
  gap: 30px;
}

.service-list-wrapper > div {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.service-list-wrapper > div > p {
  margin-left: 5px;
}

.service-button {
  margin-top: 50px;
}
