.service-container {
  display: flex;
  align-items: center;
  margin-top: 200px;
}
  
.service-icon {
  margin-right: 10px;
}

.illustration-service-image {
  width: 481px;
  height: 538px;
}

.service-header {
  font-size: var(--font-size-sub-header);
  font-weight: 700;
  line-height: 1.3;
  width: 452px;
}
  
.service-description {
  color: var(--color-dark);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: var(--font-size-normal);
  line-height: 1.3;
}

.service-description-container {
  margin-left: 50px;
}

.service-list-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 24px);
  gap: 30px;
  margin-top: 30px;
}
  
.service {
  display: flex;
  align-items: center;
}

.service-button {
  margin-top: 50px;
}
