.special-offer-container {
  margin-top: 100px;
}

.special-offer-heading {
  font-size: var(--font-size-sub-header);
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
}

.special-offer-content {
  font-size: var(--font-size-normal);
  text-align: center;
  padding: 22px 200px;
}

.special-offer-food-card {
  display: flex;
  justify-content: space-between;
}
