.special-offer-container {
  margin-top: 100px;
}

.illustration-service-image {
  width: 510px;
  height: 562px;
}

.special-offer-heading {
  font-size: var(--font-size-sub-header);
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
}

.special-offer-content {
  font-size: var(--font-size-normal);
  text-align: center;
  padding: 0 200px;
  margin: 22px 0;
}

.special-offer-food-card {
  display: flex;
  justify-content: space-between;
}
