/* Style for desktop screen width = 1440px */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-navbar-container {
  display: flex;
  gap: 70px;
  align-items: center;
}

.navbar-container {
  display: flex;
  gap: 50px;
  list-style-type: none;
}

.navbar-container :hover {
  color: var(--color-primary);
}

.navbar-container > li > a {
  font-size: var(--font-size-large);
  color: var(--color-dark);
  text-decoration: none;
}

.navbar-button {
  display: none;
}

/* Style for desktop screen under 1300px*/
@media (max-width: 1300px) {
  .logo-company-container {
    width: 97px;
    height: 62px;
  }

  .navbar-container {
    gap: 20px;
  }

  .navbar-container > li > a,
  .button {
    font-size: var(--font-size-small);
  }

  img {
    width: 100%;
    height: auto;
  }
}

/* Style for desktop tablet and mobile screen */
@media (max-width: 1024px) {
  .logo-company-container {
    width: 97px;
    height: 62px;
  }

  .navbar-button {
    display: block;
    border: none;
    background-color: transparent;
  }

  .wrapper-navbar-container {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
  }
}
