.introduction-container {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

.introduction-content-container {
  margin-top: 50px;
}

.people-trust-icon-wrapper {
  border-radius: 100px;
  width: fit-content;
  gap: 5px;
  padding: 5px;
  background-color: var(--color-icon-wrapper);
}

.people-trust-icon , .people-trust-icon > span {
  display: inline-block;
  vertical-align: middle;
}

.header-introduction {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-header);
  font-weight: 900;
  margin-top: 50px;
}

.primary-color {
  color: var(--color-primary);
}

.accent-color {
  color: var(--color-accent);
}

.header-decor {
  margin-left: 194px;
}

.para-introduction {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-large);
  margin: 33px 0;
  font-weight: 400;
}

.search-container {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-normal);
  height: 54px;
  width: 371px;
  border-radius: 100px;
  padding-inline: 50px;
}

.search-box-container {
  position: relative;
}

.search-black-icon {
  padding: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.search-white-icon {
  background-color: var(--color-accent);
  border-radius: 50%;
  cursor: pointer;
  padding: 9px;
  left: 424px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
}

.download-watch-video-wrapper {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.play-button {
  padding: 14px;
  border-radius: 50%;
  margin: 25px;
  box-shadow: 2px 2px 10px var(--color-icon-wrapper);
  border: none;
  background-color: var(--color-light);
}

.watch-video-container > p {
  font-family: var(--font-family-search-box);
  font-size: var(--font-size-normal);
  color: var(--color-neutral);
}

.play-button , .watch-video-container > p {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

/* Style for desktop screen under 1300px*/
@media (max-width: 1300px) {
  .introduction-container {
    gap: 0px;
    align-items: center;
  }

  .header-introduction {
    font-size: var(--font-size-sub-header);
  }

  .para-introduction {
    font-size: var(--font-size-xnormal);
  }

  .header-decor {
    width: 260px;
    margin-left: 155px;
  }
}

/* Style for tablet screen max width 1024px*/
@media (max-width: 1024px) {
  .introduction-container {
    flex-direction: column-reverse;
  }

  .introduction-content-container {
    width: 100%;
  }

  .illustrate-image {
    width: 412px;
    height: 416px;
  }
}

/* Style for mobile screen max width 428px*/
@media (max-width: 428px) {
  .introduction-content-container {
    width: 380px;
  }

  .search-container {
    width: 70%;
  }

  .search-white-icon {
    left: 320px;
  }
}
