.service-container {
  display: flex;
  align-items: center;
  margin-top: 200px;
}

.service-icon {
  margin-right: 10px;
  height: 28px;
  width: 28px;
}

.illustration-service-image {
  width: 481px;
  height: 538px;
}

.service-header {
  font-size: var(--font-size-sub-header);
  font-weight: 700;
  line-height: 1.3;
  width: 452px;
}

.service-description {
  color: var(--color-dark);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: var(--font-size-normal);
  line-height: 1.3;
}

.service-description-container {
  margin-left: 50px;
}

.service-list-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.service {
  display: flex;
  align-items: center;
  cursor: default;
}

.service-button {
  margin-top: 50px;
}

.service:nth-child(1)::after {
  content: 'Online order';
}

.service:nth-child(2)::after {
  content: '24/7 Service';
}

.service:nth-child(3)::after {
  content: 'Pre-Reservation';
}

.service:nth-child(4)::after {
  content: 'Super Chef';
}

.service:nth-child(5)::after {
  content: 'Organized Foodhut Place';
}

.service:nth-child(6)::after {
  content: 'Clean Kitchen';
}
