.special-offer-container {
  margin-top: 100px;
}

.illustration-service-image {
  width: 510px;
  height: 562px;
}

.special-offer-heading {
  font-size: var(--font-size-sub-header);
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
}

.special-offer-content {
  font-size: var(--font-size-normal);
  text-align: center;
  padding: 0 200px;
  margin: 22px 0;
}

.special-offer-food-card {
  display: flex;
  justify-content: space-between;
}

/*Style for desktop screen under 1300px*/
@media (max-width: 1300px) {
  .special-offer-food-card {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .special-offer-content {
    padding: 0px;
  }
}

/* Style for tablet screen max width 1024px*/
@media (max-width: 1024px) {
  .illustrate-image {
    width: 412px;
    height: 416px;
  }
}

/* Style for mobile screen max width 428px*/
@media (max-width: 428px) {
  .special-offer-section {
    margin-top: 174px;
    margin-bottom: 120px;
  }

  .special-offer-content {
    padding: 0px;
  }

  .special-offer-food-card {
    flex-direction: column;
  }

  .food-card-wrapper {
    justify-content: center;
  }
}
