<div class="food-container">
  <div class="food-preview-container">
    <img class="food-card-image" src="{{image}}" alt="{{name}}" />
    <p class="food-price">{{price}}</p>
  </div>
  <div class="food-content-container">
    <div class="food-content">
      <div class="food-rating">
        <div><img src="{{rating1}}" alt="First user"/></div>
        <div><img src="{{rating2}}" alt="Second user"/></div>
        <div><img src="{{rating3}}" alt="Third user"/></div>
        <img class="rating" src="./assets/images/rating-star.png" alt="Rating Star"/>
        <p class="star-rating">({{rating}})</p>
      </div>
      <p class="food-name">{{name}}</p>
      <p class="food-detail">{{detail}}</p>
    </div>
  </div>
  <div class="card-order-button">
    <include src="./components/button.html" locals='{"text": "Order now"}'></include>
  </div>
</div>