<div class="food-card-container">

  <div class="food-card-wrapper">
    <div class="image-wrapper">
      <div class="food-card">
        <img src="{{image}}" alt="{{image-alt}}">
      </div>
      <div class="food-price"><p>{{price}}</p></div>
    </div>
  </div>

  <div class="card-detail">
    <div class="food-rating">
      <img src="{{rating-3}}" alt="{{rating-alt-3}}">
      <img src="{{rating-2}}" alt="{{rating-alt-2}}">
      <img src="{{rating-1}}" alt="{{rating-alt-1}}">
      <img src="{{rating-star}}">
      <p>{{rating}}</p>
    </div>
    <p class="food-name">{{name}}</p>
    <p class="food-detail">{{detail}} </p>
  </div>

  <div class="card-button">
    <include src="./components/button.html" locals='{
      "text": "Order now"
    }'></include>
  </div>
</div>
