<div class="food-card-container">
  <div class="food-card-wrapper">
    <img src="{{image}}" alt="{{name}}" />
  </div>
  <div class="food-price">
    <p>{{price}}</p>
  </div>
  <div class="card-detail">
    <div class="food-rating">
      <div class="rating-1"><img src="{{rating1}}" alt="First user"/></div>
      <div class="rating-2"><img src="{{rating2}}" alt="Second user"/></div>
      <div class="rating-3"><img src="{{rating3}}" alt="Third user"/></div>
      <div class="rating"><img src="./assets/images/rating-star.png" alt="Rating Star"/></div>
      <p>({{rating}})</p>
    </div>
    <p class="food-name">{{name}}</p>
    <p class="food-detail">{{detail}}</p>
    <div class="card-button">
      <include src="./components/button.html" locals='{"text": "Order now"}'></include>
    </div>
  </div>
</div>
