<header class="header-container">
    <a class="logo-company-container" href="./index.html">
        <img src="./assets/images/logo.svg" alt="Food Hut" />
    </a>
    <div class="wrapper-navbar-container">
        <ul class="navbar-container">
            <li><a href="#">Today Special Offers</a></li>
            <li><a href="#">Why Food Hut</a></li>
            <li><a href="#">Our Menu</a></li>
            <li><a href="#">Our Popular Food</a></li>
        </ul>
        <button>Download</button>
    </div>
</header>
