<section class="introduction-container">

  <div class="introduction-content-container">

     <div class="people-trust-icon">
        <img src="./assets/images/trust.png" alt="Heart icon" />
        <p>People Trust us</p>
     </div>
     <div class="header-introduction"><p>We're <span style="color:var(--color-primary);">Serious</span> For <br><span style="color:var(--color-primary);">Food</span> & <span style="color: var(--color-accent);">Delivery</span>.</p></div>
     <div class="header-decor"><img src="./assets/images/decor.png" alt="decor flash"></div>
     <div class="para-introduction"><p>Best cooks and best delivery guys all at your service. Hot tasty food will reach you in 60 minutes.</p></div>
 </div>

 <div class="illustrate-image">
     <img src="./assets/images/intro.png" alt="Illustra" />
 </div>

</section>
