<section class="introduction-container">

  <div class="introduction-content-container">

     <div class="people-trust-icon">
         <img src="./assets/images/trust.png">
             People Trust us
     </div>
     <div class="header-introduction"><p>We're <span style="color: var(--color-primary);">Serious</span> For <br><span style="color:var(--color-primary);">Food</span> & <span style="color: var(--color-accent);">Delivery</span>.</p></div>
     <div class="header-decor"><img src="./assets/images/decor.png" alt=""></div>
     <div class="para-introduction"><p>Best cooks and best delivery guys all at your <br>service. Hot tasty food will reach you in 60 <br>minutes.</p></div>
     <!-- <div class="search-food-container">
         <img src="./assets/images/search-icon-black.svg">
         <input type="text" placeholder="Search food">
         <img src="./assets/images/search-icon-white.svg">
     </div>
     <div class="download-watch-video-wrapper">
        <include src="./components/button.html" locals='{
          "text": "Download App"}'>
        </include>
        <img src="./assets/images/play-button.png">
        <p>Watch Video</p>
     </div> -->
 </div>

 <div class="illustrate-image">
     <img src="./assets/images/intro.png" alt="User experiment">
 </div>

</section>
