<section class="introduction-container">

  <div class="introduction-content-container">

     <div class="people-trust-icon">
         <img src="./assets/images/trust.png" alt="">
             People Trust us
     </div>
     <div class="header-introduction"><p>We're <span style="color:#F54748;">Serious</span> For <br><span style="color:#F54748;">Food</span> & <span style="color: #FDC55E;">Delivery</span>.</p></div>
     <div class="header-decore"><img src="./assets/images/decor.png" alt=""></div>
     <div class="para-introduction"><p>Best cooks and best delivery guys all at your <br>service. Hot tasty food will reach you in 60 <br>minutes.</p></div>
     <!-- <div class="search-food-container">
         <img src="./assets/images/search-icon-black.svg" alt="">
         <input type="text" placeholder="Search food"><img src="./assets/images/search-icon-white.svg" alt="">
     </div>
     <div class="download-watchvideo-wrapper">
         <button>Download App</button>
         <img src="./assets/images/play-button.png" alt="">
         <p>Watch Video</p>
     </div> -->
 </div>

 <div class="illustrate-image">
     <img src="./assets/images/intro.png" alt="">
 </div>

</section>
