<section class="menu-container">
  <h2 class="menu-heading">
    <span class="primary-color">Menu</span>
     That 
    <span class="accent-color">Always</span>
     Make You Fall In 
    <span class="primary-color">Love</span>
  </h2>
  <ul class="menu-tag">
    <li class="button-menu-wrapper">
      <include src="./components/menu-button.html" locals='{"foodname": "Ramen"}'></include>
    </li>
    <li class="button-menu-wrapper">
      <include src="./components/menu-button.html" locals='{"foodname": "Breakfast"}'></include> 
    </li>
    <li class="button-menu-wrapper">
      <include src="./components/menu-button.html" locals='{"foodname": "Lunch"}'></include>
    </li>
    <li class="button-menu-wrapper">
      <include src="./components/menu-button.html" locals='{"foodname": "Dinner"}'></include>
    </li>
    <li class="button-menu-wrapper">
     <include src="./components/menu-button.html" locals='{"foodname": "Mexican"}'></include>
    </li>
    <li class="button-menu-wrapper">
     <include src="./components/menu-button.html" locals='{"foodname": "Italian"}'></include>
    </li>
    <li class="button-menu-wrapper">
      <include src="./components/menu-button.html" locals='{"foodname": "Desserts"}'></include>
    </li>
    <li class="button-menu-wrapper">
      <include src="./components/menu-button.html" locals='{"foodname": "Drinks"}'></include>
    </li>
  </ul>

  <div class="list-food-card-container">
    <include src="./components/food-card.html"
    locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
    }'
    ></include>
    <include src="./components/food-card.html"
    locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
    }'
    ></include>
    <include src="./components/food-card.html"
    locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
    }'
    ></include>
    <include src="./components/food-card.html"
    locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
    }'
    ></include>
    <include src="./components/food-card.html"
    locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
    }'
    ></include>
    <include src="./components/food-card.html"
    locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
    }'
    ></include>
    <include src="./components/food-card.html"
    locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
    }'
    ></include>
    <include src="./components/food-card.html"
    locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
    }'
    ></include>
  </div>
</section>
