<section class="menu-container">
  <h2 class="menu-heading">
    <span class="primary-color">Menu</span>
     That 
    <span class="accent-color">Always</span>
     Make You Fall In 
    <span class="primary-color">Love</span>
  </h2>
  <ul class="menu-tag">
    <li class="button-menu-wrapper">
      <include src="./components/menu-button.html" locals='{"foodname": "Ramen"}'></include>
    </li>
    <li class="button-menu-wrapper">
      <include src="./components/menu-button.html" locals='{"foodname": "Breakfast"}'></include> 
    </li>
    <li class="button-menu-wrapper">
      <include src="./components/menu-button.html" locals='{"foodname": "Lunch"}'></include>
    </li>
    <li class="button-menu-wrapper">
      <include src="./components/menu-button.html" locals='{"foodname": "Dinner"}'></include>
    </li>
    <li class="button-menu-wrapper">
     <include src="./components/menu-button.html" locals='{"foodname": "Mexican"}'></include>
    </li>
    <li class="button-menu-wrapper">
     <include src="./components/menu-button.html" locals='{"foodname": "Italian"}'></include>
    </li>
    <li class="button-menu-wrapper">
      <include src="./components/menu-button.html" locals='{"foodname": "Desserts"}'></include>
    </li>
    <li class="button-menu-wrapper">
      <include src="./components/menu-button.html" locals='{"foodname": "Drinks"}'></include>
    </li>
  </ul>
</section>
