<section class="service-container">
  <div class="illustration-service-image"><img class="service-image" src="./assets/images/service.png" alt="Service's illustration"/></div>
  <div class="service-description-container">
    <p class="service-header">We are <span class="primary-color">more</span> than <span class="accent-color">multiple</span> service</p>
    <p class="service-description">This is a type of resturent which typically serves food and drink, in addition to light refreshments such as baked goods or snacks. The term comes frome the rench word meaning food.</p>
    <div class="service-list-wrapper">
      <div class="service">
        <img class="service-icon" src="./assets/images/order-online.svg"/>
        Online order
      </div>
      <div class="service">
        <img class="service-icon" src="./assets/images/247service.svg"/>
        24/7 Service
      </div>
      <div class="service">
        <img class="service-icon" src="./assets/images/service-cake.svg"/>
        Pre-Reservation
      </div>
      <div class="service">
        <img class="service-icon" src="./assets/images/service-cake.svg"/>
        Organized Foodhut Place
      </div>
      <div class="service">
        <img class="service-icon" src="./assets/images/service-cake.svg"/>
        Super Chef
      </div>
      <div class="service">
        <img class="service-icon" src="./assets/images/service-cake.svg"/>
        Clean Kitchen
      </div>
    </div>
    <div class="service-button">
      <include src="./components/button.html" locals='{
        "text": "About Us"
      }'></include>
    </div>
  </div>
</section>