<section class="service-container">
  <img src="./assets/images/service.png" alt="Service's illustration">
  <div class="service-description-container">
    <p class="service-header">We are <span style="color: var(--color-primary);">more</span> than <br/><span style="color: var(--color-accent);">multiple</span> service</p>
    <p class="service-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, nesciunt? Et debitis, porro sit reprehenderit enim tempore in. Cum in obcaecati iure assumenda sunt vero quaerat.</p>
    <div class="service-list-wrapper">
      <div><img src="./assets/images/order-online.png"><p>Online order</p></div>
      <div><img src="./assets/images/247service.png"><p>24/7 Service</p></div>
      <div><img src="./assets/images/service-cake.png"><p>Pre-Reservation</p></div>
      <div><img src="./assets/images/service-cake.png"><p>Organized Foodhut Place</p></div>
      <div><img src="./assets/images/service-cake.png"><p>Super Chef</p></div>
      <div><img src="./assets/images/service-cake.png"><p>Clean Kitchen</p></div>
    </div>
    <div class="service-button">
      <include src="./components/button.html" locals='{
        "text": "About Us"
      }'></include>
    </div>
    </div>
  </div>
</section>
