<section class="special-offer">
  <h1>Today <span class="primary-color">Special</span> Offers</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti itaque blanditiis sunt neque , sit animi, architecto perspiciatis esciunt praesentium. Consectetur, ipsam ullam?</p>
  <div class="special-offer-food-wrapper">
    <include src="./components/food-card.html"
      locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
      }'
    ></include>
        <include src="./components/food-card.html"
      locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
      }'
    ></include>
        <include src="./components/food-card.html"
      locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
      }'
    ></include>
        <include src="./components/food-card.html"
      locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
      }'
    ></include>
  </div>

</section>