<section class="special-offer">
  
  <div class="special-offer-food-wrapper">
    <include src="./components/food-card.html"
      locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
      }'
    ></include>
        <!-- <include src="./components/food-card.html"
      locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
      }'
    ></include>
        <include src="./components/food-card.html"
      locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
      }'
    ></include>
        <include src="./components/food-card.html"
      locals='{
      "image": "./assets/images/kebab.png",
      "name":"Kebab image",
      "rating1": "./assets/images/rating-1.png",
      "rating2": "./assets/images/rating-2.png",
      "rating3": "./assets/images/rating-3.png",
      "rating": "4.5",
      "price":"10$",
      "name":"Kebab",
      "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
      }'
    ></include> -->
  </div>
</section>
