<section class="special-offer-container">
    <p class="special-offer-header">Today <span style="color: var(--color-primary);">Special</span> Offers</p>
    <p class="special-offer-describe">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias dolor quas fugiat fugit, iste totam corporis. Totam tenetur consequatur.</p>
    <div class="special-offer-food-cards">

      <include src="./components/food-card.html"
      locals='{
        "image": "./assets/images/kebab.png",
        "imageAlt":"Kebab image",
        "rating1": "./assets/images/rating-1.png",
        "rating2": "./assets/images/rating-2.png",
        "rating3": "./assets/images/rating-3.png",
        "ratingStar": "./assets/images/rating-star.png",
        "rating": "(4.5)",
        "price":"10$",
        "name":"Kebab",
        "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
      }'
      ></include>

      <include src="./components/food-card.html"
      locals='{
        "image": "./assets/images/kebab.png",
        "imageAlt":"Kebab image",
        "rating1": "./assets/images/rating-1.png",
        "rating2": "./assets/images/rating-2.png",
        "rating3": "./assets/images/rating-3.png",
        "ratingStar": "./assets/images/rating-star.png",
        "rating": "(4.5)",
        "price":"10$",
        "name":"Kebab",
        "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
      }'
      ></include>

      <include src="./components/food-card.html"
      locals='{
        "image": "./assets/images/kebab.png",
        "imageAlt":"Kebab image",
        "rating1": "./assets/images/rating-1.png",
        "rating2": "./assets/images/rating-2.png",
        "rating3": "./assets/images/rating-3.png",
        "ratingStar": "./assets/images/rating-star.png",
        "rating": "(4.5)",
        "price":"10$",
        "name":"Kebab",
        "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
      }'
      ></include>

      <include src="./components/food-card.html"
      locals='{
        "image": "./assets/images/kebab.png",
        "imageAlt":"Kebab image",
        "rating1": "./assets/images/rating-1.png",
        "rating2": "./assets/images/rating-2.png",
        "rating3": "./assets/images/rating-3.png",
        "ratingStar": "./assets/images/rating-star.png",
        "rating": "(4.5)",
        "price":"10$",
        "name":"Kebab",
        "detail": "Lorem, ipsum dolor sit amet adipisicing elit consectetur adipisicing elit."
      }'
      ></include>
    </div>
</section>
