<div class="special-offer-header"><p>Today <span style="color:#F54748;">Special </span>Offers</p></div>
<div class="special-offer-content">Lorem ipsum dolor. Dignissimos tempora vero sed commodi dolor doloribus, similique sint nam fugit,enim, laudantium libero earum. Earum beatae amet necessitatibus minus corporis. Minus.</div>
<div class="food-card-container">
    <div class="card">
        <div class="card-1"></div>
        <div class="card-2"><img src="/src/assets/images/food-1.png" alt=""></div>
        <div class="card-3"><p>10$</p></div>
        <div class="card-4"><img src="/src/assets/images/rating-1.png" alt=""></div>
        <div class="card-5">
            <p class="card-header">Kebab</p>
            <p class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae dignissimos earum</p>
            <button>Order Now</button>
        </div>
    </div>

    <div class="card">
        <div class="card-1"></div>
        <div class="card-2"><img src="/src/assets/images/food-2.png" alt=""></div>
        <div class="card-3"><p>15$</p></div>
        <div class="card-4"><img src="/src/assets/images/rating-2.png" alt=""></div>
        <div class="card-5">
            <p class="card-header">Kebab</p>
            <p class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae dignissimos earum</p>
            <button>Order Now</button>
        </div>
    </div>

    <div class="card">
        <div class="card-1"></div>
        <div class="card-2"><img src="/src/assets/images/food-3.png" alt=""></div>
        <div class="card-3"><p>8$</p></div>
        <div class="card-4"><img src="/src/assets/images/rating-3.png" alt=""></div>
        <div class="card-5">
            <p class="card-header">Kebab</p>
            <p class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae dignissimos earum</p>
            <button>Order Now</button>
        </div>
    </div>

    <div class="card">
        <div class="card-1"></div>
        <div class="card-2"><img src="/src/assets/images/food-4.png" alt=""></div>
        <div class="card-3"><p>28$</p></div>
        <div class="card-4"><img src="/src/assets/images/rating-4.png" alt=""></div>
        <div class="card-5">
            <p class="card-header">Kebab</p>
            <p class="card-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae dignissimos earum</p>
            <button>Order Now</button>
        </div>
    </div>
</div>