<!-- components/header.html -->
<link rel="stylesheet" href="/src/components/header/index.css"> 
<header>  
    <div class="header-container">
        <div class="h-item-1"><img src="/src/assets/images/Logo.png" alt="Logo"></div>
        <div class="h-item-2"><p>Today Special Offer</p>
                              <p>Why FoodHut</p>
                              <p>Our Menu</p>
                              <p>Our Popular Food</p>
                              
        </div>
        <button>Download App</button>
    </div>
</header>