.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.h-item-2{
    display: flex;
    gap: 50px;
    margin-left: 261px;
}
.h-item-2 p{
    font-family: 'Sofia Pro Regular';
    font-size: 18px;
}
