.footer-container {
  margin-top: 264px;
}

.website-summary-container {
  gap: 50.08px;
  flex-wrap: wrap;
}

.brief-description {
  width: 324.96px;
  padding-left: 68px;
  line-height: 1.3;
}

.brief-heading {
  color: var(--color-primary);
  font-weight: var(--font-weight-sub-heading);
  line-height: var(--line-height-normal);
  font-size: var(--font-size-extra-large);
}

.brief-content {
  margin-top: 10.08px;
  margin-bottom: 23.04px;
  font-size: var(--font-size-normal);
}

.brief-icon-container {
  align-items: center;
  width: 100px;
}

.social-media-icon {
  cursor: pointer;
}

.company-information-heading {
  color: var(--color-primary);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-sub-heading);
}

.company-information-item {
  margin-top: 14.08px;
}

.company-information-item > a {
  font-size: var(--font-size-normal);
  color: var(--color-dark);
  text-decoration: none;
}

.subscribe-form {
  width: 379.04px;
}

.subscribe-heading {
  font-size: var(--font-size-large);
  color: var(--color-primary);
  font-weight: var(--font-weight-heading);
}

.subscribe-content {
  line-height: var(--line-height-normal);
  margin: 36.96px 0 27.04px 0;
  font-size: var(--font-size-normal);
}

.subscribe-input > input[type="text"] {
  width: 183px; 
  height: 50.08px; 
  border-radius: 38.08px; 
  padding-left: 20px;
  background: var(--color-neutral);
  border: none;
}

.subscribe-input > input[type="text"]::placeholder {
  font-size: var(--font-size-ex-small);
}

.footer-copyright {
  text-align: center;
  margin-top: 95.04px;
}

.company-information-wrapper {
  gap: 50.08px;
}

.subscribe-input > button {
  font-size: 14px;
  font-weight: var(--font-weight-medium);
  padding: 17px 27px;
}

@media (max-width: 1400px) {
  .brief-description {
    margin: 0;
    padding: 0;
  }
}
/* Style for tablet and mobile screen */
@media (max-width: 768px) {
  .subscribe-form {
    max-width: 379.04px;
  }

  .website-summary-container {
    gap: 70.08px;
  }
}
