.footer-container {
  margin-top: 264px;
}

.website-summary-container {
  display: flex;
  justify-content: space-between;
  gap: 3.13rem;
  flex-wrap: wrap;
}

.brief-description {
  width: 20.31rem;
  padding-left: 68px;
  line-height: 1.3;
}

.brief-heading {
  color: var(--color-primary);
  font-weight: var(--font-weight-sub-heading);
  line-height: var(--line-height-normal);
  font-size: var(--font-size-extra-large);
}

.brief-content {
  margin-top: 0.63rem;
  margin-bottom: 1.44rem;
  font-size: var(--font-size-normal);
}

.brief-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6.25rem;
}

.social-media-icon {
  cursor: pointer;
}

.company-information-heading {
  color: var(--color-primary);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-sub-heading);
}

.company-information-item {
  margin-top: 0.88rem;
}

.company-information-item > a {
  font-size: var(--font-size-normal);
  color: var(--color-dark);
  text-decoration: none;
}

.subscribe-form {
  width: 23.69rem;
}

.subscribe-heading {
  font-size: var(--font-size-large);
  color: var(--color-primary);
  font-weight: var(--font-weight-heading);
}

.subscribe-content {
  line-height: var(--line-height-normal);
  margin: 2.31rem 0 1.69rem 0;
  font-size: var(--font-size-normal);
}

.subscribe-input > input[type="text"] {
  width: 183px;
  height: 3.13rem;
  border-radius: 2.38rem;
  padding-left: 1.25rem;
  background: var(--color-neutral);
  border: none;
}

.subscribe-input > input[type="text"]::placeholder {
  font-size: var(--font-size-ex-small);
}

.footer-copyright {
  text-align: center;
  margin-top: 5.94rem;
}

.company-information-wrapper {
  display: flex;
  gap: 3.13rem;
}

/* Style for tablet and mobile screen */
@media (max-width: 768px) {
  .brief-description {
    margin: 0;
    padding: 0;
  }

  .subscribe-form {
    max-width: 23.69rem;
  }

  .website-summary-container {
    justify-content: flex-start;
    gap: 4.38rem;
  }
}
