.footer-container {
  margin-top: 9.88rem; /* 158px / 16 */
}

.website-summary-container {
  display: flex;
  justify-content: space-between;
  gap: 3.13rem; /* 50px / 16 */
  flex-wrap: wrap;
}

.brief-description {
  width: 20.31rem; /* 325px / 16 */
}

.brief-heading {
  color: var(--color-primary);
  font-weight: var(--font-weight-sub-heading);
  line-height: var(--line-height-normal);
  font-size: var(--font-size-extra-large);
}

.brief-content {
  margin-top: 0.63rem; /* 10px / 16 */
  margin-bottom: 1.44rem; /* 23px / 16 */
  font-size: var(--font-size-normal);
}

.brief-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6.25rem; /* 100px / 16 */
}

.social-media-icon {
  cursor: pointer;
}

.company-information-heading {
  color: var(--color-primary);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-sub-heading);
}

.company-information-item {
  margin-top: 0.88rem; /* 14px / 16 */
}

.company-information-item > a {
  font-size: var(--font-size-normal);
  color: var(--color-dark);
  text-decoration: none;
}

.subscribe-form {
  width: 23.69rem; /* 379px / 16 */
}

.subscribe-heading {
  font-size: var(--font-size-large);
  color: var(--color-primary);
  font-weight: var(--font-weight-heading);
}

.subscribe-content {
  line-height: var(--line-height-normal);
  margin: 2.31rem 0 1.69rem 0; /* 37px 0 27px 0 / 16 */
  font-size: var(--font-size-normal);
}

.subscribe-input > input[type="text"] {
  width: 12.81rem; /* 205px / 16 */
  height: 3.13rem; /* 50px / 16 */
  border-radius: 2.38rem; /* 38px / 16 */
  padding-left: 1.25rem; /* 20px / 16 */
  background: var(--color-neutral);
  border: none;
}

.subscribe-input > input[type="text"]::placeholder {
  font-size: var(--font-size-ex-small);
}

.footer-copyright {
  text-align: center;
  margin-top: 5.94rem; /* 95px / 16 */
}

.company-information-wrapper {
  display: flex;
  gap: 3.13rem; /* 50px / 16 */
}

/* Style for tablet and mobile screen */
@media (max-width: 768px) {
  .brief-description {
    margin: 0;
    padding: 0;
  }

  .subscribe-form {
    max-width: 23.69rem; /* 379px / 16 */
  }

  .website-summary-container {
    justify-content: flex-start;
    gap: 4.38rem; /* 70px / 16 */
  }
}
