/* Style for desktop screen width = 1440px */
.header-container {
  align-items: center;
}

.wrapper-navbar-container {
  gap: 88px;
  align-items: center;
  display: flex;
}

.navbar-container {
  gap: 50px;
  list-style-type: none;
}

.navbar-container :hover {
  color: var(--color-primary);
}

.nav-item {
  font-size: var(--font-size-normal);
  color: var(--color-dark);
  text-decoration: none;
}

.navbar-button {
  display: none;
}

/* Style for desktop screen under 1440px */
@media (max-width: 1440px) {
  .header-container {
    gap: auto;
  }

  .navbar-container {
    gap: 20px;
  }

  .nav-item,
  .button {
    font-size: var(--font-size-small);
  }
}
/* Style for desktop tablet and mobile screen */
@media (max-width: 1000px) {
  .logo-company-container {
    width: 97px;
    height: 62px;
  }
  
  .navbar-button {
    display: block;
    border: none;
    background-color: transparent;
  }

  .navbar-button :hover {
    cursor: pointer;
  }

  .wrapper-navbar-container {
    display: none;
  }
}
