.introduction-content-container {
  width: 50%;
  margin-top: 100px;
}

.people-trust-text {
  font-family: var(--font-family-third);
  font-size: var(--font-size-ex-small);
  font-weight: var(--font-weight-sub-heading);
  color: var(--color-dark);
  margin-left: 3px;
}

.people-trust-icon-wrapper {
  border-radius: 100px;
  width: fit-content;
  gap: 5px;
  margin-left: 5px;
  padding: 4px 5px;
  background-color: var(--color-icon-wrapper);
}

.people-trust-icon, .people-trust-icon > span {
  display: inline-block;
  vertical-align: middle;
}

.header-introduction {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-header);
  font-weight: 900;
  margin-top: 12px;
  max-width: 75%;
  line-height: 1.32;
}

.decor-relative {
  position: relative;
}

.decor-relative:after {
  content: url('../../assets/images/decor.png');
  position: absolute;
  left: 0;
  top: 30px;
}

.para-introduction {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-large);
  margin: 29px 0;
  font-weight: 400;
  max-width: 80%;
  line-height: 1.3;
  opacity: 80%;
}

.search-box-container {
  border: 0.5px solid;
  border-radius: 100px;
  max-width: 75%;
}

.search-container {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-normal);
  width: 75%;
  border: none;
}

.search-container:focus {
  outline: none;
}

.search-icon-black {
  background-image: url('../../assets/images/search-icon-black.svg');
  width: 24px;
  height: 24px;
  margin: 15px auto;
}

.search-btn {
  background-color: var(--color-accent);
  border-radius: 50%;
  cursor: pointer;
  padding: 9px;
  margin: auto 9px;
  border: none;
}

.play-icon {
  width: 15px;
  height: 15px;
}

.download-watch-video-wrapper {
  align-items: center;
  margin-top: 34px; 
  gap: 9px;
}

.play-button {
  padding: 19px;
  border-radius: 50%;
  margin-inline: 25px;
  box-shadow: 2px 2px 10px var(--color-icon-wrapper);
  border: none;
  background-color: var(--color-light);
  cursor: pointer;
}

.watch-video-item {
  font-family: var(--font-family-secondary);
  color: var(--color-strong-neutral);
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.illustrate-image {
  width: 668px;
  height: 657px;
  margin-top: 16px;
}

.search-icon {
  width: 24px;
  height: 24px;
}

/* Style for tablet screen max width 768px */
@media (max-width: 1000px) {
  .introduction-container {
    flex-direction: column-reverse;
    gap: 82px;
    align-items: center;
  }

  .header-introduction {
    font-size: var(--font-size-sub-header);
    max-width: 100%;
    text-align: center;
  }

  .para-introduction {
    font-size: var(--font-size-xnormal);
    font-weight: 400;
    max-width: 100%;
  }

  .search-box-container,
  .introduction-content-container {
    width: 100%;
  }

  .decor-relative:after {
    left: -20px;
    scale: 90%;
  }

  .illustrate-image {
    width: 412px;
    height: 416px;
  }
}

/* Style for smartphone screen max width 428px */
@media (max-width: 428px) {
  .header-introduction {
    text-align: left;
    max-width: 75%;
  }

  .search-box-container {
    max-width: 88.5%;
  }
}
