.container {
  margin-inline: auto;
  padding: 32px 70px; 
  max-width: 90rem;
}

p {
  color: var(--color-dark);
}

img {
  width: 100%;
  height: auto;
}

html, body {
  font-family: var(--font-family-primary);
}

@media (max-width: 85rem) { 
  .container {
    padding: 2.25rem;
  }
}

@media (max-width: 26.8125rem) {
  .container {
    padding: 1.5rem;
    min-width: 26.75rem;
  }
}
