.menu-heading {
  font-size: var(--font-size-sub-header);
  font-weight: var(--font-weight-heading);
  line-height: var(--line-height-normal);
  text-align: center;
  padding-inline: 22%;
  margin-top: 10rem;
}

.button-menu-wrapper {
  margin: 3.125rem 0;
}

.button-menu-wrapper > input[type="checkbox"] {
  display: none;
}

.menu-button-label {
  cursor: pointer;
  border-radius: 100px;
  border: solid 0.5px var(--color-dark);
  padding: 0.625rem 1.25rem;
  font-size: var(--font-size-normal);
}

input[type="checkbox"]:checked + .menu-button-label {
  color: var(--color-light);
  border: solid 0.5px var(--color-primary);
  border-radius: 100px;
  padding: 0.625rem 1.25rem;
  background-color: var(--color-primary);
}

.menu-tag {
  gap: 1.875rem;
  margin-top: 1.5625rem;
  overflow-x: auto;
  white-space: nowrap;
  font-weight: normal;
}

.list-food-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3.125rem;
  gap: 1.25rem;
}

/* Style for tablet screen and mobile screen max width 768px */
@media (max-width: 768px) {
  .menu-heading {
    padding-inline: 0;
    margin-top: 7.5rem;
  }

  .button-menu-wrapper {
    padding: 0.625rem;
    margin: 0.3125rem;
  }

  .menu-button-label,
  input[type="checkbox"]:checked + .menu-button-label {
    padding: 0.625rem 0.9375rem;
  }

  .food-card-wrapper:nth-child(n+5) {
    display: none;
  }
}
