.menu-heading {
  font-size: var(--font-size-sub-header);
  font-weight: var(--font-weight-heading);
  line-height: var(--line-height-normal);
  text-align: center;
  padding-inline: 25%;
  margin-top: 160px;
}

.button-menu-wrapper {
  margin: 50px 0;
}

.button-menu-wrapper > input[type="checkbox"] {
  display: none;
}

.menu-button-label {
  cursor: pointer;
  border-radius: 100px;
  border: solid 0.5px var(--color-dark);
  padding: 10px 20px;
  font-size: var(--font-size-normal);
  opacity: 60%;
}

input[type="checkbox"]:checked + .menu-button-label {
  color: var(--color-light);
  border: solid 0.5px var(--color-primary);
  border-radius: 100px;
  padding: 10px 20px;
  background-color: var(--color-primary);
}

.menu-tag {
  gap: 30px;
  margin-top: 25px;
  overflow-x: scroll;
  white-space: nowrap;
  font-weight: normal;
}

.list-food-card-container {
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 11px;
}
@media (max-width: 1150px) {
  .menu-heading + .center {
    justify-content: flex-start;
  }  
}
/* Style for tablet screen and mobile screen max width 768px */
@media (max-width: 768px) {
  .menu-heading {
    padding-inline: 0;
    margin-top: 120px;
  }

  .button-menu-wrapper {
    padding: 10px;
    margin: 5px;
  }

  .menu-button-label,
  input[type="checkbox"]:checked + .menu-button-label {
    padding: 10px 15px;
  }

  .food-card-wrapper:nth-child(n+5) {
    display: none;
  }
}
