.mobile-app-introduction-container {
  margin-top: 229px;
  gap: 100px;
}

.introduction-app-container {
  width: 50%;
}

.introduction-app-heading {
  font-size: var(--font-size-sub-header);
  font-weight: var(--font-weight-heading);
  line-height: var(--line-height-normal);
}

.introduction-app-content {
  margin: 47px 0 42px 0;
  line-height: var(--line-height-normal);
  color: var(--color-dark);
}

.play-store {
  width: 135px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.app-store {
  margin-left: 27px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-introduction-illustration {
  width: 570px;
  height: 570px;
}

/* Style for tablet and mobile screen*/
@media (max-width: 768px) {
  .mobile-introduction-illustration {
    width: 365px;
    height: 365px;
  }

  .introduction-app-container {
    width: 100%;
  }

  .mobile-app-introduction-container {
    flex-direction: column-reverse;
    align-items: center;
    margin: 100px 0 167px 0;
  }
}
