.mobile-app-introduction-container {
  margin-top: 14.31rem;
  gap: 6.25rem;
}

.introduction-app-container {
  width: 50%;
}

.introduction-app-heading {
  font-size: var(--font-size-sub-header);
  font-weight: var(--font-weight-heading);
  line-height: var(--line-height-normal);
}

.introduction-app-content {
  margin: 2.94rem 0 2.63rem 0;
  line-height: var(--line-height-normal);
  color: var(--color-dark);
}

.play-store {
  width: 8.44rem;
  height: 2.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.app-store {
  margin-left: 1.69rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.mobile-introduction-illustration {
  width: 35.63rem;
  height: 35.63rem;
}

/* Style for tablet and mobile screen*/
@media (max-width: 768px) {
  .mobile-introduction-illustration {
    width: 22.81rem;
    height: 22.81rem;
  }

  .introduction-app-container {
    width: 100%;
  }

  .mobile-app-introduction-container {
    flex-direction: column-reverse;
    align-items: center;
    margin: 6.25rem 0 10.44rem 0;
  }
}
