.special-offer-container {
  margin-top: 146px;
}

.illustration-service-image {
  width: 510px;
  height: 562px;
}

.special-offer-heading {
  font-size: var(--font-size-sub-header);
  line-height: 1.3;
  font-weight: 700;
  text-align: center;
}

.special-offer-content {
  font-size: var(--font-size-normal);
  text-align: center;
  width: 58%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 33px;
  line-height: 1.3;
  opacity: 80%;
}

.special-offer-food-card {
  gap: 11px;
  flex-wrap: wrap;
}

/* Style for tablet and mobile screen under 768px */
@media (max-width: 768px) {
  .special-offer-container {
    margin-top: 174px;
    margin-bottom: 120px;
  }
  
  .special-offer-content {
    margin: 43px 24px;
    width: auto;
  }

  .special-offer-content + .between {
    justify-content: center;
  }

  .special-offer-content {
    padding: 0;
  }
}
