:root {
  --color-dark: #191919;
  --color-primary: #F54748;
  --color-icon-wrapper: #FEE5E5;
  --color-accent: #FDC55E;
  --color-light: #FFFFFF;
  --color-neutral: #E8E8E8;
  --color-strong-neutral: #686D77;
  --color-warning: #FFB800;
  --color-gradient-warm: linear-gradient(0deg, #fff 55.72%,#FCCCBE 90%, #FCBC88 121%);  
  --color-gradient-strong: linear-gradient(179.69deg,#fff 30%, #F54748 400.75%);
  --font-family-primary: 'Roboto';
  --font-family-secondary: 'Poppins';
  --font-family-third: 'Inter Regular';
  --font-size-ex-small: 0.875rem;
  --font-size-small: 1rem;
  --font-size-normal: 1.125rem;
  --font-size-xnormal: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-extra-large: 2rem;
  --font-size-header: 3.625rem;
  --font-size-sub-header: 3rem;
  --font-weight-heading: 700;
  --font-weight-sub-heading: 600;
  --font-weight-medium: 500;
  --line-height-normal: 1.3;
}
