:root {
  --color-dark: #191919;
  --color-primary: #F54748;
  --color-icon-wrapper: #FEE5E5;
  --color-accent: #FDC55E;
  --color-light: #FFFFFF;
  --color-neutral: #C4C4C4;
  --color-warning: #FFB800;
  --color-gradient-warm: linear-gradient(0deg, rgba(245, 71, 72, 0) 57.72%, #FDC55E 112.46%);
  --color-gradient-strong: linear-gradient(179.69deg, rgba(255, 255, 255, 0), #F54748 303.75%);
  --font-family-primary: 'Sofia Pro';
  --font-family-secondary: 'Poppins';
  --font-size-ex-small: 0.875rem;
  --font-size-small: 1rem;
  --font-size-normal: 1.125rem;
  --font-size-xnormal: 1.25rem;
  --font-size-large: 1.5rem;
  --font-size-extra-large: 2rem;
  --font-size-header: 3.625rem;
  --font-size-sub-header: 3rem;
  --font-weight-heading: 700;
  --font-weight-sub-heading: 600;
  --line-height-normal: 1.3;
  --hidden-display: none;
}
