:root {
  --color-dark: #191919;
  --color-primary: #F54748;
  --color-icon-wrapper: #FEE5E5;
  --color-accent: #FDC55E;
  --color-light: #FFFFFF;
  --color-neutral: #C4C4C4;
  --color-warning: #FFB800;
  --color-gradient-warm: linear-gradient(0deg, rgba(245, 71, 72, 0) 57.72%, #FDC55E 112.46%);
  --color-gradient-strong: linear-gradient(179.69deg, rgba(255, 255, 255, 0) , #F54748 303.75%);
  --font-family-primary: 'Sofia Pro';
  --font-family-secondary: 'Poppins';
  --font-size-ex-small: 14px;
  --font-size-small: 16px;
  --font-size-normal: 18px;
  --font-size-xnormal: 20px;
  --font-size-large: 24px;
  --font-size-extra-large: 32px;
  --font-size-header: 58px;
  --font-size-sub-header: 48px;
  --font-weight-heading: 700;
  --font-weight-sub-heading: 600;
  --line-height-normal: 1.3;
  --hidden-display: none;
}
