@font-face {
    font-family: 'Sofia';
    font-style: normal;
    font-weight: normal;
    src: local('Sofia'), url('/src/assets/font/sofia/Sofia-Pro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins'), url('/src/assets/font/poppins/Poppins-Medium.ttf') format('woff');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    src: local('Inter Regular'), url('/src/assets/font/inter/Inter-Regular.ttf') format('woff');
}
